* {
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.2px; }

::selection {
  background-color: #f09c00;
  color: #070707; }

html {
  width: 100%; }

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Nanum Gothic", sans-serif !important; }

/* Header & Nav bar */
header {
  margin-top: 0.05rem;
  background-color: #070707;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.header__logo {
  height: 80;
  margin-top: 0.2rem; }

.header__nav {
  height: 100%; }

.header__nav__item {
  width: 7rem;
  height: 100%;
  text-align: center; }

.header__nav__item a {
  font-size: 0.95rem; }

.header__nav__item a:hover {
  color: #f09c00; }

#linkActive {
  color: #f09c00; }

/* Footer */
.footer {
  width: 100%;
  min-height: 100vh;
  max-height: 600px;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0; }

.footer__newsletterContainer {
  margin-top: 4rem;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer__newsletterContainer h4 {
  color: white;
  text-align: center;
  align-content: center; }

.footer__inputContainer {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__inputContainer input {
  height: 4rem;
  width: 20rem;
  border: none;
  padding-left: 1.2rem; }

.footer__inputContainer input:focus {
  outline: none; }

.newsletter__btn {
  background-color: white;
  height: 4rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.newsletter__btn a {
  text-decoration: none;
  color: white;
  background-color: #070707;
  padding: 0.8rem 1.2rem;
  font-size: 0.8rem; }

.footer__siteMap__container {
  margin-top: 6rem;
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.footer__siteMap__item {
  border-top: 1px solid white;
  width: 12rem;
  margin-bottom: 2rem;
  padding-top: 1.3rem; }

.footer__siteMap__item h5 {
  color: white; }

.footer__siteMap__item ul {
  list-style-type: none;
  padding: 0; }

.footer__siteMap__item ul li {
  margin-bottom: 1rem; }

.footer__siteMap__item ul li a {
  text-decoration: none;
  color: gray;
  font-size: 0.85rem; }

.socialContainer {
  margin-top: 1rem;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.socialIcon {
  width: 25px;
  fill: whitesmoke; }

.copyrightContainer {
  width: 100%;
  min-height: 3rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyrightContainer p {
  color: gray;
  font-size: 0.7rem;
  margin-left: 2rem;
  align-content: center;
  margin-bottom: 0; }

.copyrightContainer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0;
  list-style-type: none; }

.copyrightContainer ul li {
  margin-right: 1rem; }

.copyrightContainer ul li a {
  text-decoration: none;
  color: gray;
  font-size: 0.7rem; }

/* Media Queries */
@media (max-width: 1100px) {
  .copyrightContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .copyrightContainer p {
    margin: 0; }
  .copyrightContainer ul {
    margin: 0; } }

/* Index page */
/* Carousel */
.carouselContainer {
  margin-top: 0.1rem; }

.carousel__item-1 {
  height: 88vh; }

.carousel__img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.carousel__container-1 {
  display: flex;
  justify-content: center; }

.carousel__container__cta-1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem; }

.carousel__btn {
  background-color: #00000038;
  border: 2px solid white;
  border-radius: 0;
  color: white; }

.carousel__item-2 {
  height: 88vh; }

.carousel__img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.carousel__item-3 {
  height: 88vh; }

.carousel__img-3 {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.mainContainer {
  min-height: 100vh;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
  overflow-x: hidden; }

.indexMainTitle {
  text-align: center;
  padding: 2rem 0; }

.cardsContainer {
  margin-top: 2rem;
  max-width: 1280px;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  flex-wrap: wrap; }

.cardItem {
  height: 450px;
  width: 400px;
  background-color: #070707; }

.cardItem__img {
  height: 180px;
  width: 100%;
  background-color: #b1b1b1;
  overflow: hidden; }

.cardItem__img img {
  height: 100%;
  min-width: 100%;
  object-fit: cover; }

.cardItem__content {
  height: 270px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.cardItem__content--text h4 {
  color: white; }

.cardItem__content--text p {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: white; }

.cardItem__content a {
  text-decoration: none;
  padding: 0.8rem 2.2rem;
  color: #070707;
  background-color: white;
  font-size: 0.7rem; }

.blogContainer {
  max-width: 1280px;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.9rem; }

.blogCard {
  width: 600px;
  height: 250px;
  background-color: black;
  display: flex; }

.blogCard__img {
  width: 250px;
  height: 250px;
  overflow: hidden; }

.blogCard__img img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.blogCard__content {
  width: 350px;
  height: 250px;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid gray;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.blogCard__content--text p {
  margin-top: 1.5rem;
  font-size: 0.8rem; }

.blogCard__content a {
  text-decoration: none;
  padding: 0.8rem 2.2rem;
  color: white;
  background-color: #070707;
  font-size: 0.7rem;
  display: inline; }

/* Media Queries */
@media (min-width: 1100px) {
  .carousel__item-3 {
    width: 100%; } }

@media (max-width: 1100px) {
  .carousel__item-1 {
    position: relative; }
  .carousel__img-1 {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: -25rem; }
  .carousel__item-2 {
    position: relative; }
  .carousel__img-2 {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: -20rem; }
  .carousel__item-3 {
    position: relative; }
  .carousel__img-3 {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: -52rem; }
  .cardItem {
    margin-bottom: 2rem; }
  .blogCard {
    margin-bottom: 3rem; } }

.products {
  width: 100%;
  min-height: 100vh; }

.products h2 {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold; }

.products__Container {
  margin-top: 2rem;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.product__Anchor {
  height: 400px;
  width: 80%;
  max-width: fit-content;
  background-color: black;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative; }

.product__Anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  transition: all 500ms ease-out; }

.product__Anchor:hover::after {
  background-color: rgba(255, 167, 4, 0.74); }

.products__Label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.products__Label h3 {
  color: white;
  margin-top: 3.3rem;
  margin-bottom: 0;
  z-index: 10; }

.products__Label p {
  color: white;
  z-index: 10; }

.products__Img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.mainServices {
  margin-top: 0.1rem;
  width: 100%; }

.service__section {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden; }

.service__section img {
  width: 100%; }

.service__card {
  position: absolute;
  width: 500px;
  background-color: rgba(7, 7, 7, 0.75);
  right: 0;
  top: 5%;
  right: 10%;
  padding: 1rem; }

.service__card img {
  width: 100%; }

.service__textContainer {
  margin-top: 1.2rem; }

.service__textContainer p {
  color: whitesmoke; }

.service__textContainer ul li {
  color: whitesmoke; }

.service__btnContainer {
  margin-top: 1rem; }

.service__btnContainer a button {
  border-style: none;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 0.8rem;
  border-radius: 4px;
  background: none;
  border: 2px solid whitesmoke;
  color: #f09c00;
  font-weight: 500; }

.service__btnContainer a:nth-child(2) button {
  background-color: rgba(128, 128, 128, 0.37);
  color: grey;
  border: none;
  font-weight: 500;
  cursor: not-allowed; }

/* Separation banner */
.service__separation {
  width: 100%;
  min-height: 8rem;
  margin-top: 0.1rem;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap; }

.service__separation p {
  color: whitesmoke;
  font-size: 2rem;
  margin: 0; }

.service__description {
  width: 100%;
  padding: 5rem 0; }

.service__description--container {
  max-width: 700px;
  margin: 0 auto; }

.service__description--container a {
  width: fit-content;
  align-self: center;
  display: block;
  margin: 3rem auto 0 auto; }

.service__description--container a button {
  border-style: none;
  padding: 0.4rem 15rem;
  background-color: #f09c00;
  color: whitesmoke;
  border-radius: 4px; }

.mainBlogContainer {
  width: 100%;
  min-height: 100vw;
  padding: 2rem 3rem 1rem 3rem; }

.mainBlogContainer h2 {
  text-align: center; }

.category__container {
  width: 100%;
  max-width: 1400px;
  margin: 2rem auto 2rem auto;
  border-top: 1.5px solid black; }

.category__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 0; }

.category__title h4 {
  font-weight: 600; }

.category__title a {
  text-decoration: none;
  color: orange;
  font-weight: bold; }

.category__posts {
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.category__posts a {
  text-decoration: none;
  color: black; }

.category__card {
  width: 300px;
  height: 390px;
  margin-bottom: 1.2rem; }

.category__card__img {
  width: 100%;
  height: 180px;
  overflow: hidden; }

.category__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.category__card h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.35rem; }

.category__card span {
  margin-top: 1.3rem;
  font-size: 0.7rem;
  color: lightslategray;
  letter-spacing: normal; }

.category__card p {
  margin-top: 0.25rem;
  font-size: 0.9rem; }

/* Contact General Container */
.contactContainer {
  width: 100%;
  min-height: 100vh; }

.contactContainer h2 {
  margin-top: 2rem;
  text-align: center; }

/* Map Container */
.mapContainer {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 7%;
  display: flex;
  width: 90%;
  max-width: 1100px; }

.mapContainer__address {
  height: 450px;
  width: 350px;
  margin: auto 0;
  background-color: rgba(7, 7, 7, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1.5rem; }

.mapContainer__address h4 {
  color: whitesmoke; }

.mapContainer__address p {
  color: whitesmoke; }

.mapContainer__address p span svg {
  fill: orange;
  width: 12px; }

.mapContainer__phone h5 {
  font-size: 1.1rem;
  color: whitesmoke; }

.mapContainer__phone p {
  font-size: 0.9rem;
  color: whitesmoke; }

.mapContainer__phone p span svg {
  fill: orange;
  width: 12px; }

.mapContainer__workingHours h5 {
  font-size: 1.1rem;
  color: whitesmoke; }

.mapContainer__workingHours ul {
  margin-bottom: 0;
  font-size: 0.9rem;
  letter-spacing: 1; }

.mapContainer__workingHours li {
  color: whitesmoke; }

.mapContainer iframe {
  width: 95%;
  max-width: 750px; }

/* Form Container */
.formContainer {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1100px;
  padding: 0 10%; }

.formContainer h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem; }

.formContainer label {
  margin-bottom: 0.35rem;
  font-weight: bold; }

.formContainer label span {
  color: orange;
  font-size: 1.3rem;
  margin-left: 0.2rem; }

.formContainer input {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px; }

.formContainer input:focus {
  outline: none; }

.formContainer textarea {
  margin-bottom: 1.8rem;
  resize: none;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px; }

.formContainer textarea:focus {
  outline: none; }

.formBtn {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: orange;
  border-style: none;
  border: 1px solid orange;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 4px; }
