$primary-color: rgb(7, 7, 7);
$primary-color-transparent: rgba(7, 7, 7, 0.75);
$secondary-color: orange;
$font-family: 'Nanum Gothic',
sans-serif;
$hover-color: rgb(240, 156, 0);
$hover-color-opacity: rgba(255, 167, 4, 0.74);