.mainBlogContainer {
    width: 100%;
    min-height: 100vw;
    padding: 2rem 3rem 1rem 3rem;

    h2 {
        text-align: center;
        color: $primary-color;
        background: #FFFFFF;
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

.category__container {
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto 2rem auto;
    border-top: 1.5px solid black;

}

.category__title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.3rem 0;

    h3 {
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;
    }
}

.category__posts {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    a {
        margin: 0 auto;
        text-decoration: none;
        color: black;
    }
}

.category__card {
    width: 300px;
    min-height: 390px;
    margin-bottom: 1.2rem;

    &__img {
        width: 100%;
        height: 180px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 500ms ease;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.35rem;
    }

    span {
        margin-top: 1.3rem;
        font-size: 0.7rem;
        color: lightslategray;
        letter-spacing: normal;
    }

    p {
        margin-top: 0.25rem;
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) {
    .mainBlogContainer {
        min-height: 75vh;
    }
}

@media (max-width: 500px) {
    .category__posts a {
        width: 100%;
        margin-bottom: 1rem;
    }

    .category__card {
        width: 100%;
    }
}