.mainBlogContainer {
    width: 100%;
    min-height: 100vw;
    padding: 2rem 3rem 1rem 3rem;
}

.mainBlogContainer h2 {
    text-align: center
}

.category__container {
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto 2rem auto;
    border-top: 1.5px solid black;

}

.category__title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.3rem 0;
}

.category__title h4 {
    font-weight: 600;
}

.category__title a {
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
}

.category__posts {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category__posts a {
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.category__card {
    width: 300px;
    min-height: 390px;
    margin-bottom: 1.2rem;
}

.category__card__img {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.category__card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category__card h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.35rem;
}

.category__card span {
    margin-top: 1.3rem;
    font-size: 0.7rem;
    color: lightslategray;
    letter-spacing: normal;
}

.category__card p {
    margin-top: 0.25rem;
    font-size: 0.9rem;
}

@media (min-width: 1200px) {
    .mainBlogContainer {
        min-height: 75vh;
    }
}

@media (max-width: 500px) {
    .category__posts a {
        width: 100%;
        margin-bottom: 1rem;
    }

    .category__card {
        width: 100%;
    }
}