/* Contact General Container */
.contactContainer {
    width: 100%;
    min-height: 100vh;

    h2 {
        margin-top: 2rem;
        text-align: center;
        color: $primary-color;
        background: #FFFFFF;
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

/* Map Container */
.mapContainer {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 7%;
    display: flex;
    width: 90%;
    max-width: 1100px;

    // address container
    &__address {
        height: 450px;
        width: 350px;
        margin: auto 0;
        background-color: $primary-color-transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 1.5rem;
        border-right: 2px solid $hover-color;

        h4 {
            color: whitesmoke;
        }

        p {
            color: whitesmoke;
        }

        p span svg {
            fill: $secondary-color;
            width: 12px;
        }
    }

    &__phone h5 {
        font-size: 1.1rem;
        color: whitesmoke;
    }

    &__phone p {
        font-size: 0.9rem;
        color: whitesmoke;
    }

    &__phone p span svg {
        fill: $secondary-color;
        width: 12px;
    }

    &__workingHours h5 {
        font-size: 1.1rem;
        color: whitesmoke;
    }

    &__workingHours ul {
        margin-bottom: 0;
        font-size: 0.9rem;
        letter-spacing: 1;
    }

    &__workingHours li {
        color: whitesmoke;
    }

    // map styles
    iframe {
        width: 95%;
        max-width: 750px;
    }
}

/* Form Container */
.formContainer {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1100px;
    padding: 0 10%;

    h3 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    label {
        margin-bottom: 0.35rem;
        font-weight: bold;
    }

    label span {
        color: $secondary-color;
        font-size: 1.3rem;
        margin-left: 0.2rem;
    }

    input {
        margin-bottom: 1.2rem;
        padding: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 4px;

        &:focus {
            outline: none;
        }
    }

    textarea {
        margin-bottom: 1.8rem;
        resize: none;
        padding: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 4px;

        &:focus {
            outline: none;
        }
    }
}

.formBtn {
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: $secondary-color;
    border-style: none;
    border: 1px solid $secondary-color;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 4px;
    transition: all 500ms ease;

    &:hover {
        background-color: darken($secondary-color, $amount: 5%);
    }
}

.resetBtn {
    background-color: lighten(grey, $amount: 15%);
    color: whitesmoke;
    transition: all 500ms ease;

    &:hover {
        background-color: darken(grey, $amount: 5%);
    }
}

@media (max-width: 800px) {
    .mapContainer {
        flex-direction: column;

        &__address {
            border-right: none;
            border-bottom: 2px solid $hover-color;
        }

        &__address h4 {
            margin-left: -1.45rem;
            text-align: center;
        }

        &__address {
            width: 100%;
        }

        iframe {
            width: 100%;
        }
    }
}

@media (max-width: 300px) {
    .formBtn {
        width: 95%;
    }
}