//main container
.mainServices {
    margin-top: 0.05rem;
    width: 100%;
    min-height: 100%;
}

//service section
.service__section {
    width: 100%;
    height: 620px;
    position: relative;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.service__cardContainer {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

//service card
.service__card {
    position: relative;
    max-width: 500px;
    background-color: $primary-color-transparent;
    padding: 1rem;
    margin-right: 3rem;

    img {
        width: 100%;
    }
}

.service__textContainer {
    margin-top: 1.2rem;

    p {
        color: whitesmoke;
    }

    ul li {
        color: whitesmoke;
    }
}

.service__btnContainer {
    margin-top: 1rem;

    a button {
        border-style: none;
        width: 100%;
        padding: 0.5rem 0;
        margin-bottom: 0.8rem;
        border-radius: 4px;
        background: none;
        border: 2px solid whitesmoke;
        color: $hover-color;
        font-weight: 500;
        transition: all 500ms ease;
    }

    a button:hover {
        background-color: $hover-color-opacity;
        color: $primary-color;
    }

    a:nth-child(2) button {
        background-color: rgba(128, 128, 128, 0.5);
        color: rgb(189, 189, 189);
        border: none;
        font-weight: 500;
        cursor: not-allowed;
    }

    a:nth-child(2) button:hover {
        background-color: $primary-color-transparent;
        color: whitesmoke;
    }
}

/* Separation banner */
.service__separation {
    width: 100%;
    min-height: 8rem;
    margin-top: 0.1rem;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    padding: 0 2rem;
    flex-wrap: wrap;

    p {
        color: whitesmoke;
        font-size: 2rem;
        margin: 0;
    }
}

//service content
.service__description {
    width: 100%;
    padding: 5rem 0;

    &--container {
        width: 80%;
        max-width: 700px;
        margin: 0 auto;

        a {
            align-self: center;
            display: block;
            width: 90%;
            margin: 3rem auto 0 auto;
        }

        a button {
            border-style: none;
            padding: 0.4rem 0;
            width: 100%;
            background-color: $hover-color;
            color: whitesmoke;
            border-radius: 4px;
            transition: all 500ms ease;
        }

        a button:hover {
            background-color: darken($color: $hover-color, $amount: 5);
        }
    }
}

/* Services Media Queries */
@media (max-width: 1000px) {
    .service__section {
        min-height: 620px;
    }

    .service__cardContainer {
        justify-content: center;
    }

    .service__card {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .service__card {
        width: 90%;
    }
}

@media (max-width: 350px) {
    .service__section {
        min-height: 700px;
    }

    .service__separation p {
        text-align: center;
    }
}

@media (max-width: 300px) {
    .service__section {
        min-height: 850px;
    }

    .service__separation p {
        font-size: calc(1.5rem - 2vw);
        text-align: center;
    }
}