/* Footer */
.footer {
    width: 100%;
    min-height: 100vh;
    // max-height: 600px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

// Newsletter
.footer__newsletterContainer {
    margin-top: 4rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__newsletterContainer h4 {
    color: white;
    text-align: center;
    align-content: center;
}

.footer__inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__inputContainer input {
    height: 4rem;
    width: 20rem;
    border: none;
    padding-left: 1.2rem;
}

.footer__inputContainer input:focus {
    outline: none;
}

.newsletter__btn {
    background-color: white;
    height: 4rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter__btn a {
    text-decoration: none;
    color: white;
    background-color: $primary-color;
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
}

// Footer Sitemap
.footer__siteMap__container {
    margin-top: 6rem;
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
}

.footer__siteMap__item {
    border-top: 1px solid white;
    width: 12rem;
    margin-bottom: 2rem;
    padding-top: 1.3rem;
}

.footer__siteMap__item h5 {
    color: white;
}

.footer__siteMap__item ul {
    list-style-type: none;
    padding: 0;
}

.footer__siteMap__item ul li {
    margin-bottom: 1rem;
}

.footer__siteMap__item ul li a {
    text-decoration: none;
    color: gray;
    font-size: 0.85rem;
}

.footer__siteMap__item ul li a:hover {
    color: whitesmoke;
}

// Social media container
.socialContainer {
    margin-top: 1rem;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialIcon {
    width: 25px;
    fill: whitesmoke;
}

// Copyright disclaimer
.copyrightContainer {
    width: 100%;
    min-height: 3rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrightContainer p {
    color: gray;
    font-size: 0.7rem;
    margin-left: 2rem;
    align-content: center;
    margin-bottom: 0;
    letter-spacing: .05rem;
}

.copyrightContainer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 0;
    list-style-type: none;
}

.copyrightContainer ul li {
    margin-right: 1rem;
}

.copyrightContainer ul li a {
    text-decoration: none;
    color: gray;
    font-size: 0.7rem;
    letter-spacing: .05rem;
}

/* Media Queries */
@media (max-width: 1100px) {
    .copyrightContainer {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        min-height: 5rem;
    }

    .copyrightContainer p {
        margin: 0;
    }

    .copyrightContainer ul {
        gap: 0.75rem;
        margin: 0;
        padding: 0;
    }

    .copyrightContainer ul li {
        margin-right: 0;
    }
}

@media (max-width: 750px) {
    .footer__siteMap__container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .footer__newsletterContainer {
        max-width: 95vw;
    }

    .footer__inputContainer {
        width: 100%;
        flex-direction: column;
    }

    .footer__inputContainer input {
        width: 100%;
    }

    .newsletter__btn {
        width: 100%;
        border-top: 1px solid lightgrey;
    }

    .newsletter__btn a {
        width: 80%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .copyrightContainer ul {
        margin-top: 0.8rem;
        padding: 0;
        flex-direction: column;
    }

    .copyrightContainer ul li {
        margin-right: 0;
        margin-bottom: 0.65rem;
    }

    .copyrightContainer p {
        padding: 1rem 5%;
        text-align: center;
    }
}