/* Header & Nav bar */
header {
    margin-top: 0.05rem;
    background-color: $primary-color;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__logo {
    height: 80;
    margin-top: 0.2rem;
}

.header__nav {
    height: 100%;
}

.header__nav__item {
    width: 7rem;
    height: 100%;
    text-align: center;
}

.header__nav__item a {
    font-size: 0.95rem;
}